name: '[GPU] mostlyai Tests'

# on: [workflow_call]
on: [push]

env:
  PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring
  FORCE_COLOR: '1'

jobs:
  run-test-gpu:
    runs-on: gha-gpu-public
    container:
      image: nvidia/cuda:13.0.2-cudnn-runtime-ubuntu24.04
      options: --gpus all
    permissions:
      contents: read
      packages: write
    steps:
      - name: Setup | Install Git
        run: |
          export DEBIAN_FRONTEND=noninteractive
          ln -fs /usr/share/zoneinfo/Etc/UTC /etc/localtime
          echo "Etc/UTC" > /etc/timezone
          apt-get update -qq
          apt-get install -y --no-install-recommends git tzdata build-essential

      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1
          submodules: 'true'

      - name: Setup | uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
        with:
          enable-cache: false
          python-version: '3.10'

      - name: Setup | Dependencies
        run: |
          uv sync --frozen --only-group dev
          uv pip install ".[local-gpu]"

      - name: Setup | Check for available GPU-s
        run: nvidia-smi

      - name: Test | End-to-End Tests
        # client mode e2e test will be skipped when no extra environment variable is provided
        run: |
          uv run --no-sync pytest -vv tests/_local/end_to_end
