name: "[CPU] mostlyai Tests"

on: [workflow_call]

env:
    PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring
    FORCE_COLOR: "1"
    STAGING_MOSTLY_API_KEY: ${{ secrets.STAGING_MOSTLY_API_KEY }}
    ENVIRONMENT: ${{ secrets.ENVIRONMENT }}
    S3_ACCESS_KEY: ${{ secrets.S3_ACCESS_KEY }}
    S3_SECRET_KEY: ${{ secrets.S3_SECRET_KEY }}

jobs:
    run-test-cpu:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
          - name: Setup | Checkout
            uses: actions/checkout@v4
            with:
                fetch-depth: 1
                submodules: 'true'

          - name: Setup | uv
            uses: astral-sh/setup-uv@v5
            with:
                enable-cache: false
                python-version: '3.10'

          - name: Setup | Dependencies
            run: |
              uv sync --frozen --only-group dev
              uv pip install --index-strategy unsafe-first-match torch==2.6.0+cpu torchvision==0.21.0+cpu ".[local]" --extra-index-url https://download.pytorch.org/whl/cpu

          - name: Test | End-to-End Tests
            run: |
                uv run --no-sync pytest -vv tests/_local/end_to_end
                uv run --no-sync pytest -vv tests/client/end_to_end

          - name: Test | Unit Tests
            run: |
              uv run --no-sync pytest -vv tests/client/unit
              uv run --no-sync pytest -vv tests/_data/unit
              uv run --no-sync pytest -vv tests/_local/unit
              uv run --no-sync pytest -vv tests/test_domain.py
